# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.pkl
*.keras

# Node
backend/node_modules/
backend/alerts.log

# Environment
.env
*.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
